{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="description" conten="Living Garden | Flowers">
<meta name="author" content="Max Millan">
<meta name="keywords" content="Living Gardens " />
<link rel="icon" href="{% static 'img1/banner/logo3.png' %}" sizes="32x32" />
<link rel="icon" href="{% static 'img1/banner/logo3.png' %}" sizes="192x192" />
<link rel="apple-touch-icon" href="{% static 'img1/banner/logo3.png' %}" />
<title>{% block head_title  %}{% endblock %}</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'css1\sty.css' %} ">    
</head>
<body>
    </header>
   <main>
    <div class="">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-primary alert-dismissible fade show text-center" role="alert">
            {{message}}
            <button type="button" class="btn-close mt-5px" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>          
        {% endfor %}
        {% endif %}
    </div>
    
    {% block content %}


    {% endblock content %}
   </main>
    <footer class="footer"> 
        <div class="col-12">
            <div class="copyright">
                <p class="copy">&copy;<span id="year">. Living | Gardens. By: Max Millan</span>
            </p>
        </div>
        </div>

        <button class="back-to-top hidden">
            <i class="uil uil-angle-up"></i>
        </button>  
    </footer>	
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="{% static 'js1\my-login.js' %}"></script>
    
</body>
</html>