{% extends "base_login.html" %}
{% load static %}
{% load i18n %}
{% load allauth account %}
{% load account socialaccount %}
{% block head_title  %} 
Living Garden | Login
{% endblock %}

{% block content %}
<div class="my-login-page">
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center h-100">
				<form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Upload</button>
                </form>
			</div>
		</div>
	</section>
</div>
{% endblock content %}
